* {
    padding: 0px;
    margin: 0px;
}

/* Navbar Section */

.navbar-part {
   background-color: #272317;
} 

/* Cover-Photo Section */

.image-1-section {
    margin-top: 56.3px;
}

.image-1 {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* Header Section */

.header-section {
   margin-top: 55px;
}

.header-container {
   overflow-x: hidden;
}

.header-title {
   font-size: 40px;
   font-weight: 700;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
   margin: 0px;
}

/* Content-1 Section */

.content-1-section {
   margin-top: 5px;
}

.content-1-hyperlink {
   text-decoration: none;
}


.content-1-cards:hover {
   opacity: 0.7;
   cursor: pointer;
   transform: scale(1.01);
   transition: 0.1s;
}

.content-1-cards:active {
   opacity: 0.5;
}

.description-length {
   overflow: clip;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Display Picture & Description Section */

.display-picture-and-description-section {
   margin-top: 95px;
}

.image-2-div {
   display: flex;
   justify-content: center;
   height: 520px;
}

.image-2 {
   border-radius: 50%;
   width: 520px;;
   height: 520px;
}

.description-div {
   padding: 0px 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 520px;
}

.description-tittle {
   font-weight: 700;  
}

.description-paragraph {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slogan {
   font-weight: bold;
}

.points {
   padding-left: 16.6px;
   display: flex;
   justify-content: space-between;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
}

/* Work Description Section */

.work-description-section {
   margin-top: 80px;
}

.work-description-title-div {
   margin-bottom: 5px;
}

.work-description-title {
   font-weight: 700;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
}

.work-description-content-div {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
}

.icon-description-row-div {
   background-color: #272317;
}

.icon-img {
   display: block;
   margin: auto;
   width: 74px;
}

.icon-img-div {
   height: 74px;
}

.icon-img-description-div {
   height: 153px;
}


/* Socials Section */

.socials-section {
   margin-top: 80px;
}

.socials-div {
   background-color: #272317;
   color: white;
   padding-top: 35px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-col-div-1 {
   font-size: 60px;
}

.left-col-div-2 {
   font-size: 61.5px;
   margin-top: -15px;
}

.left-col-div-3 {
   font-size: 54px;
   margin-top: 20px;
}

.facebook-icon {
   color: #039be5;
}

.instagram-icon {
   background: linear-gradient(to right, #f9ce34, #ee2a7b,#6228d7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.right-div-col-1 {
   font-size: 20px;
   line-height: 25px;
}

.right-div-col-2 {
   margin-top: 15px;
   font-size: 28.6px;
   line-height: 30px;
}

.facebook-img-icon {
   width: 24px;
   height: 24px;
   margin-bottom: 1.8px;
}

.right-div-col-3 {
   margin-top: 30px;
   font-size: 20.1px;
   line-height: 25px;
}

.right-div-col-4 {
   margin-top: 15px;
   font-size: 28.6px;
   line-height: 30px;
}

.instagram-img-icon {
   width: 24px;
   height: 24px;
   margin-bottom: 1.8px;
}

.footer-part {
   margin-top: 22.5px;
}

.footer-left-div-1 {
   font-size: 22px;
}

.facebook-footer-img-icon {
   width: 30x;
   height: 30px;
}

.facebook-footer-img-section {
   margin-right: 10px;
   margin-top: 3px;
}

.instagram-footer-img-icon {
   width: 30px;
   height: 30px;
}

.instagram-footer-img-section {
   margin-left: 10px;
   margin-top: 3px;
}

.footer-right-div-1 {
   font-size: 22px;
}

.email-footer-img-icon {
   width: 30px;
   height: 30px;
   margin-right: 7px;
   margin-top: 3px;
}

.footer-right-div-2 {
   font-size: 22px;
   margin-top: 1px;
   margin-left: 7px;
}

.hr-part {
   margin-top: 30px;
   margin-bottom: 0px;
}

.footer-rights {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-rights-text {
   margin-bottom: 0px;
}

/* Media Queries */

@media (max-width: 296.99px) {

/* Header */

   .header-title {
      font-size: 22px;
   }   

}




@media (max-width: 320.99px) {

/* Header Section */
      
   .header-title {
      font-size: 14px;
  }

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .image-2-div {
      height: 320px;
   }

   .description-tittle {
      font-size: 25px;
   }

   .description-div {
      height: 230px;
      padding: 0px 10px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 14px;
   }

   .points {
      font-size: 10px;
      padding-left: 11.1px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 15px;
   }

   .icon-img-description-div {
      height: 85px;
   }

   .icon-title {
      font-size: 25px;
      margin-bottom: 2px;
   }

   .icon-paragraph {
      font-size: 10.3px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 17.5px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 17.5px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 16px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 15.5px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 21x;
      height: 21px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 21px;
      height: 21px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 14.5px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 21px;
      height: 21px;
      margin-right: 4px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 14.5px;
      margin-top: 3px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 18px;
   }

}




@media (min-width: 321px) and (max-width: 375.99px) {
   
/* Header Section */
      
   .header-title {
      font-size: 14.5px;
  }

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .image-2-div {
      height: 351px;
   }

   .description-tittle {
      font-size: 32px;
   }

   .description-div {
      height: 270px;
      padding: 0px 13px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 15.5px;
   }

   .points {
      font-size: 10px;
      padding-left: 11.3px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 17px;
   }

   .icon-img-description-div {
      height: 85px;
   }

   .icon-title {
      font-size: 25px;
      margin-bottom: 2px;
   }

   .icon-paragraph {
      font-size: 10.3px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 17.6px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 17.6px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 17px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 16.5px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 23x;
      height: 23px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 23px;
      height: 23px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 15px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 23px;
      height: 23px;
      margin-right: 4px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 15px;
      margin-top: 3px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 18px;
   }

}

@media (min-width: 348px) and (max-width: 375.99px) {

/* Header Section */
      
   .header-title {
      font-size: 15px;
  }

/* Display Picture & Description Section */

   .description-div {
      height: 250px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 19.3px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 19.3px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 18px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 18px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 23x;
      height: 23px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 23px;
      height: 23px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 16px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 23px;
      height: 23px;
      margin-right: 4px;
      margin-top: 4.5px;
   }
   
   .footer-right-div-2 {
      font-size: 16px;
      margin-top: 3px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 18px;
   }

}




@media (min-width: 376px) and (max-width: 425.99px) {

/* Header Section */
      
   .header-title {
      font-size: 17px;
  }

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .image-2-div {
      height: 376px;
   }

   .description-tittle {
      font-size: 42px;
   }

   .description-div {
      height: 270px;
      padding: 0px 16px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 15.5px;
   }

   .points {
      font-size: 12px;
      padding-left: 12.3px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 20px;
   }

   .icon-img-description-div {
      height: 108px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 12.5px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 21px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 21px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 20px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 19px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 25x;
      height: 25px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 25px;
      height: 25px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 18px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 25px;
      height: 25px;
      margin-right: 4px;
      margin-top: 4.5px;
   }
   
   .footer-right-div-2 {
      font-size: 18px;
      margin-top: 3px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 18px;
   }

}




@media (min-width: 426px) and (max-width: 448.99px) { 
  
/* Header Section */
      
   .header-title {
      font-size: 19px;
  }

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .image-2-div {
      height: 426px;
   }

   .description-tittle {
      font-size: 50px;
   }

   .description-div {
      height: 290px;
      padding: 0px 18px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 16px;
   }

   .points {
      font-size: 13.5px;
      padding-left: 14px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 23px;
   }

   .icon-img-description-div {
      height: 108px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 12.5px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 24.2px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 24.2px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 22px;
      margin-top: -10px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 21px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 26x;
      height: 26px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 26px;
      height: 26px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 20px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 26px;
      height: 26px;
      margin-right: 6px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 20px;
      margin-top: 2px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 18px;
   }

}




@media (min-width: 449px) and (max-width: 596.99px) {

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .image-2-div {
      height: 449px;
   }

   .description-tittle {
      font-size: 55px;
   }

   .description-div {
      height: 310px;
      padding: 0px 20px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 17px;
   }

   .points {
      font-size: 14px;
      padding-left: 14px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 24px;
   }

   .icon-img-description-div {
      height: 108px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 13px;
   }

}

@media (min-width: 449px) and (max-width: 480.99px) {
  
/* Header Section */

   .header-title {
      font-size: 20px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 25.6px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 25.6px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 23px;
      margin-top: -11px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 22px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 27x;
      height: 27px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 27px;
      height: 27px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 22px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 27px;
      height: 27px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 22px;
      margin-top: 1px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 16px;
   }

}

@media (min-width: 481px) and (max-width: 524.99px) {
  
/* Header Section */
   
   .header-title {
      font-size: 21px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 27.6px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 27.6px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 24px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 22px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 27x;
      height: 27px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 27px;
      height: 27px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 22px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 27px;
      height: 27px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 22px;
      margin-top: 1px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 16px;
   }
   
}

@media (min-width: 479px) and (max-width: 480.99px) {

/* Display Picture & Description Section */
   
   .description-div {
      height: 290px;
   }
}

@media (min-width: 481px) and (max-width: 596.99px) {  

/* Display Picture & Description Section */

   .description-div {
      height: 290px;
   }
}

@media (min-width: 525px) and (max-width: 596.99px) {

/* Header Section */

.header-title {
   font-size: 23px;
}

/* Work Description Section */
   
   .work-description-section {
      margin-top: 30px;
   }
   
   .work-description-title {
      font-size: 30px;
   }
   
   .icon-img-description-div {
      height: 115px;
   }
   
   .icon-title {
      font-size: 28px;
   }
   
   .icon-paragraph {
      font-size: 14.9px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 30.4px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 30.4px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 25px;
      margin-top: -9px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 23px;
      margin-top: 5px;
   }
   
   .facebook-footer-img-icon {
      width: 27x;
      height: 27px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 3px;
   }
   
   .instagram-footer-img-icon {
      width: 27px;
      height: 27px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 3px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 22px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 27px;
      height: 27px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 22px;
      margin-top: 1px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 16px;
   }   
      
}

@media (min-width: 571px) and (max-width: 596.99px) {

/* Header Section */

   .header-title {
      font-size: 25px;
   }
}




@media (min-width: 597px) and (max-width: 768.99px) {

/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .description-tittle {
      font-size: 70px;
      text-align: center;
   }

   .description-div {
      height: 315px;
      padding: 0px 37px;
   }

   .description-paragraph {
      font-size: 18.5px;
   }

   .points {
      font-size: 17px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .work-description-title {
      font-size: 32px;
   }

   .icon-img-description-div {
      height: 90px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 14.2px;
   }

}

/* Only For Header Section and Socials Section ( 597px - 768.99px ) */

@media (min-width: 597px) and (max-width: 660.99px) {

/* Header Section */

   .header-title {
      font-size: 27px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 34.9px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 34.9px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 34.9px;
      margin-top: -14px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 25px;
      margin-top: 10px;
   }
   
   .facebook-footer-img-icon {
      width: 30x;
      height: 30px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 30px;
      height: 30px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 25px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 30px;
      height: 30px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 25px;
      margin-top: -1px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 20px;
   }

}

@media (min-width: 661px) and (max-width: 720.99px) {

/* Header Section */
   
   .header-title {
      font-size: 30px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 15px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 38.9px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 38.9px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 38.9px;
      margin-top: -14px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 29px;
      margin-top: 10px;
   }
   
   .facebook-footer-img-icon {
      width: 33x;
      height: 33px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 33px;
      height: 33px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 29px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 33px;
      height: 33px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 29px;
      margin-top: -3px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 20px;
   }

}

@media (min-width: 721px) and (max-width: 767.99px) {

/* Header Section */
   
   .header-title {
      font-size: 32px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 16px;
   }

   .socials-left-div {
      text-align: center;
   }

   .left-col-div-1 {
      font-size: 42.6px;
      display: inline;
   }
   
   .left-col-div-2 {
      font-size: 42.6px;
      margin-top: -5px;
      margin-left: 2px;
      display: inline;
   }

   .left-col-div-3 {
      font-size: 42.6px;
      margin-top: -14px;
      text-align: center;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: none;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
      display: none;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: none;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 30px;
      margin-top: 10px;
   }
   
   .facebook-footer-img-icon {
      width: 33x;
      height: 33px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 33px;
      height: 33px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 30px;
      margin-top: 15px;
   }
   
   .email-footer-img-icon {
      width: 33px;
      height: 33px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 30px;
      margin-top: -4px;
      margin-left: 7px;
   }

   .hr-part {
      margin-top: 20px;
   }

}

@media (min-width: 768px) and (max-width: 768.99px) {

/* Header Section */

   .header-title {
      font-size: 32px;
   }

   /* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .icon-img-description-div {
      height: 105px;
   }

   .icon-title {
      font-size: 23px;
   }

   .icon-paragraph {
      font-size: 10.3px;
   }

/* Socials Section */

   /* Main Left Column */

   .socials-div {
      padding-top: 35px;
   }

   .socials-left-div {
      text-align: left;
   }

   .left-col-div-1 {
      font-size: 33px;
      display: block;
   }
   
   .left-col-div-2 {
      font-size: 36.3px;
      margin-top: -5px;
      display: block;
   }

   .left-col-div-3 {
      font-size: 32.1px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
      display: inline-block;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17px;
      line-height: 20px;
      display: inline-block;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: inline-block;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
      display: inline-block;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17px;
      line-height: 20px;
      display: inline-block;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
      display: inline-block;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      margin-top: 15px;
      font-size: 17px;
   }
   
   .facebook-footer-img-icon {
      width: 23x;
      height: 23px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 0px;
   }
   
   .instagram-footer-img-icon {
      width: 23px;
      height: 23px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 0px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 17px;
   }
   
   .email-footer-img-icon {
      width: 23px;
      height: 23px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 17px;
      margin-top: 1px;
      margin-left: 7px;
   }

}




@media (min-width: 769px) and (max-width: 991.99px) {


/* Content-1 Section */

   .description-length {
      height: 71px;
   }

/* Display Picture & Description Section */

   .description-tittle {
      font-size: 80px;
   } 

   .description-div {
      height: 340px;
      padding: 0px 45px;
   }

   .description-tittle {
      text-align: center;
   }

   .description-paragraph {
      font-size: 21.3px;
   }

   .points {
      font-size: 18px;
   }

}

/* Only For Work Description, Header Section and Socials Section ( 769px - 991.99px ) */

@media (min-width: 769px) and (max-width: 800.99px) {

/* Header Section */

   .header-title {
      font-size: 32px;
   }

/* Work Description Section */

   .work-description-section {
      margin-top: 30px;
   }

   .icon-img-description-div {
      height: 105px;
   }

   .icon-title {
      font-size: 23px;
   }

   .icon-paragraph {
      font-size: 10.3px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 33px;
   }
   
   .left-col-div-2 {
      font-size: 36.6px;
      margin-top: -5px;
   }

   .left-col-div-3 {
      font-size: 32.2px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 12.9px;
      line-height: 16px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
   }

   .facebook-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 12.9px;
      line-height: 16px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.1px;
      line-height: 20px;
   }
   
   .instagram-img-icon {
      width: 17px;
      height: 17px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 17px;
   }
   
   .facebook-footer-img-icon {
      width: 23x;
      height: 23px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 0px;
   }
   
   .instagram-footer-img-icon {
      width: 23px;
      height: 23px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 0px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 17px;
   }
   
   .email-footer-img-icon {
      width: 23px;
      height: 23px;
      margin-right: 7px;
      margin-top: 2.9px;
   }
   
   .footer-right-div-2 {
      font-size: 17px;
      margin-top: 1px;
      margin-left: 7px;
   }

}

@media (min-width: 801px) and (max-width: 856.99px) {

/* Header Section */

   .header-title {
      font-size: 35px;
   }

/* Work Description Section */
   
   .work-description-section {
      margin-top: 30px;
   }
   
   .icon-img-description-div {
      height: 107px;
   }
   
   .icon-title {
      font-size: 23px;
   }
   
   .icon-paragraph {
     font-size: 10.9px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 34.5px;
   }
   
   .left-col-div-2 {
      font-size: 38.2px;
      margin-top: -5px;
   }

   .left-col-div-3 {
      font-size: 33.6px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 13.4px;
      line-height: 16px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 17.9px;
      line-height: 20px;
   }

   .facebook-img-icon {
      width: 18px;
      height: 18px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 13.4px;
      line-height: 16px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 17.9px;
      line-height: 20px;
   }
   
   .instagram-img-icon {
      width: 18px;
      height: 18px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 18px;
   }
   
   .facebook-footer-img-icon {
      width: 24x;
      height: 24px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 24px;
      height: 24px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 18px;
   }
   
   .email-footer-img-icon {
      width: 24px;
      height: 24px;
      margin-right: 7px;
      margin-top: 3.8px;
   }
   
   .footer-right-div-2 {
      font-size: 18px;
      margin-top: 1px;
      margin-left: 7px;
   }
      
}

@media (min-width: 857px) and (max-width: 911.99px) {

/* Header Section */

   .header-title {
      font-size: 37px;
   }

/* Work Description Section */
   
   .work-description-section {
      margin-top: 30px;
   }
   
   .icon-img-description-div {
      height: 110px;
   }
   
   .icon-title {
      font-size: 23px;
   }
   
   .icon-paragraph {
      font-size: 11.5px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 35px;
   }
   
   .left-col-div-2 {
      font-size: 41.1px;
      margin-top: -5px;
   }

   .left-col-div-3 {
      font-size: 36.2px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 14.4px;
      line-height: 18px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 19.2px;
      line-height: 22px;
   }

   .facebook-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 14.4px;
      line-height: 18px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 19.2px;
      line-height: 22px;
   }
   
   .instagram-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 18px;
   }
   
   .facebook-footer-img-icon {
      width: 24x;
      height: 24px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 24px;
      height: 24px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 18px;
   }
   
   .email-footer-img-icon {
      width: 24px;
      height: 24px;
      margin-right: 7px;
      margin-top: 4px;
   }
   
   .footer-right-div-2 {
      font-size: 18px;
      margin-top: 2px;
      margin-left: 7px;
   }
      
}

@media (min-width: 912px) and (max-width: 991.99px) {

/* Work Description Section */

   .icon-img-description-div {
      height: 115px;
   }

   .icon-title {
      font-size: 25px;
   }

   .icon-paragraph {
      font-size: 11.7px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 36.5px;
   }
   
   .left-col-div-2 {
      font-size: 43.9px;
      margin-top: -10px;
   }

   .left-col-div-3 {
      font-size: 38.6px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 15.4px;
      line-height: 18px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 20.5px;
      line-height: 23px;
   }

   .facebook-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 15.4px;
      line-height: 18px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 20.5px;
      line-height: 23px;
   }
   
   .instagram-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 18.5px;
   }
   
   .facebook-footer-img-icon {
      width: 24x;
      height: 24px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 2px;
   }
   
   .instagram-footer-img-icon {
      width: 24px;
      height: 24px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 2px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 18.5px;
   }
   
   .email-footer-img-icon {
      width: 24px;
      height: 24px;
      margin-right: 7px;
      margin-top: 4.5px;
   }
   
   .footer-right-div-2 {
      font-size: 18.5px;
      margin-top: 2px;
      margin-left: 7px;
   }

}




@media (min-width: 992px) and (max-width: 1024.99px) {

/* Content-1 Section */

   .description-length {
      height: 120px;
   }

/* Display Picture & Description Section */

   .description-tittle {
      font-size: 63px;
      text-align: start;
   }

   .description-div {
   height: 520px;
   padding: 0px 41.5px;
   }

   .description-paragraph {
      font-size: 17.5px;
   }

   .points {
      font-size: 14.5px;
   }

/* Work Description Section */

   .icon-img-description-div {
      height: 135px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 14px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 40px;
   }
   
   .left-col-div-2 {
      font-size: 48px;
      margin-top: -10px;
   }

   .left-col-div-3 {
      font-size: 42.3px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 16.8px;
      line-height: 21px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 22.4px;
      line-height: 25px;
   }

   .facebook-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 16.8px;
      line-height: 21px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 22.4px;
      line-height: 25px;
   }
   
   .instagram-img-icon {
      width: 19px;
      height: 19px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 19px;
   }
   
   .facebook-footer-img-icon {
      width: 25x;
      height: 25px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 4px;
   }
   
   .instagram-footer-img-icon {
      width: 25px;
      height: 25px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 4px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 19px;
   }
   
   .email-footer-img-icon {
      width: 25px;
      height: 25px;
      margin-right: 7px;
      margin-top: 4px;
   }
   
   .footer-right-div-2 {
      font-size: 19px;
      margin-top: 2px;
      margin-left: 7px;
   }

}




@media (min-width: 1025px) and (max-width: 1199.99px) {

/* Content-1 Section */

   .description-length {
      height: 120px;
   }

/* Display Picture & Description Section */

   .description-tittle {
      font-size: 66px;
   }

   .description-div {
      padding: 0px 45px;
   }

   .description-paragraph {
      font-size: 22px;
   }

   .points {
      font-size: 15px;
   }

/* Work Description Section */

   .icon-img-description-div {
      height: 140px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 14.5px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 45px;
   }
   
   .left-col-div-2 {
      font-size: 49.7px;
      margin-top: -10px;
   }

   .left-col-div-3 {
      font-size: 43.8px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 17.4px;
      line-height: 25px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 23.2px;
      line-height: 30px;
   }

   .facebook-img-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 1.8px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 17.4px;
      line-height: 25px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 23.2px;
      line-height: 30px;
   }
   
   .instagram-img-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 1.8px;
   }

   /* Footer Left Column */

   .footer-left-div-1 {
      font-size: 20px;
   }
   
   .facebook-footer-img-icon {
      width: 26x;
      height: 26px;
   }
   
   .facebook-footer-img-section {
      margin-right: 10px;
      margin-top: 4px;
   }
   
   .instagram-footer-img-icon {
      width: 26px;
      height: 26px;
   }
   
   .instagram-footer-img-section {
      margin-left: 10px;
      margin-top: 4px;
   }

   /* Footer Right Column */
   
   .footer-right-div-1 {
      font-size: 20px;
   }
   
   .email-footer-img-icon {
      width: 26px;
      height: 26px;
      margin-right: 7px;
      margin-top: 4px;
   }
   
   .footer-right-div-2 {
      font-size: 20px;
      margin-top: 2px;
      margin-left: 7px;
   }

}

@media (min-width: 1100px) and (max-width: 1199.99px) {

   /* Display Picture & Description Section */

   .points {
      font-size: 16px;
   }

}




@media (min-width: 1200px) {

/* Content-1 Section */

   .description-length {
      height: 120px;
   }

/* Display Picture & Description Section */

   .description-tittle {
      font-size: 80px;
   }

   .description-paragraph {
      font-size: 22px;
   }

   .points {
      font-size: 18px;
   }

/* Work Description Section */

   .icon-img-description-div {
      height: 150px;
   }

   .icon-title {
      font-size: 28px;
   }

   .icon-paragraph {
      font-size: 16px;
   }

/* Socials Section */

   /* Main Left Column */

   .left-col-div-1 {
      font-size: 50px;
   }
   
   .left-col-div-2 {
      font-size: 58.5px;
      margin-top: -10px;
   }

   .left-col-div-3 {
      font-size: 51.5px;
      margin-top: 20px;
   }

   /* Main Right Column */

   .right-div-col-1 {
      font-size: 20px;
      line-height: 25px;
   }
   
   .right-div-col-2 {
      margin-top: 15px;
      font-size: 27.4px;
      line-height: 30px;
   }
   
   .right-div-col-3 {
      margin-top: 30px;
      font-size: 20px;
      line-height: 25px;
   }
   
   .right-div-col-4 {
      margin-top: 15px;
      font-size: 27.4px;
      line-height: 30px;
   }

}

